#page {
  max-width: none;
}

#content-main-wrapper.outer-wrapper {
  background: url(../../images/bg.svg) no-repeat fixed center;
  clear: both;

  .region-content {
    padding: 20px 20px;
    max-width: 1140px;
    margin: 0 auto;
  }
}

.content-node-custom-wrap {
  position: relative;
}
