.paragraph--type--cta-panel .paragraph-inner-holder {
  @include flex-responsive-div;

  .optional-cta-1,
  .optional-cta-2,
  .required-cta {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $black;
    font-weight: 700;
  }

  .optional-cta-1,
  .optional-cta-2 {
    width: 18%;
    box-sizing: border-box;
    padding: 85px 20px;

    @include breakpoint($mobileTabletOnly) {
      padding: 45px 20px;
    }

    @include breakpoint($mobileOnly) {
      padding: 45px 20px;
      width: 48%;

      a {
        font-size: 19px;
      }
    }
  }

  .optional-cta-1 {
    background-image: url(../../images/cta_make_a_ref_bg.svg);
    @include bg_placement(100%);

    @include breakpoint($mobileOnly) {
      order: 2;
      background: $orange
    }
  }

  .optional-cta-2 {
    background-image: url(../../images/cta_employer_bg.svg);
    @include bg_placement(100%);

    @include breakpoint($mobileOnly) {
      order: 3;
      background: $yellow_pale;
    }
  }

  .required-cta {
    width: 50%;
    background-image: url(../../images/cta_assessment_booking_bg.svg);
    @include bg_placement(100%);
    padding: 85px 50px;
    margin-left: 20px;
    margin-right: 20px;

    @include breakpoint($mobileTabletOnly) {
      padding: 0;
    }

    @include breakpoint($mobileOnly) {
      order: 1;
      width: 100%;
      background: $blue_acqua;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 15px;
    }

    h4 {
      font-size: 34px;
      padding-top: 40px;

      @include breakpoint($mobileOnly) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    a {
      font-size: 16px;
      padding: 10px 30px;
      background: #fff;
      border-radius: 30px;
      display: inline-block;

      @include breakpoint($mobileOnly) {
        margin-bottom: 40px;
      }
    }
  }


}
