 .field--name-field-four-column-card {
   @include flex-responsive-div;

   @include breakpoint($mobileOnly) {
     display: block;
     width: 90%;
     margin: 0 auto;
   }

   >.field__item {
     width: 23%;
     text-align: left;

     @include breakpoint($mobileOnly) {
       width: 100%;
     }

     .four-column-card {
       background: $white;
       border: 1px solid $gray-light;
       box-sizing: border-box;
       box-shadow: inset 0px -4px 0px $gray-light;
       padding-bottom: 30px;

       .field--name-field-image {
         margin-bottom: 0;

         img {
           width: 100%;
           max-width: none;
         }

       }

       span {
         display: inline-block;
         width: 90%;
         padding: 20px 10px 10px 20px;
         text-decoration: underline;
         font-size: 24px;
         line-height: 38px;
       }
     }
   }

   a {
     display: block;
     font-weight: 700;
   }
 }
