@charset "UTF-8"; //fixes the error - Invalid US-ASCII character "\xE2"

.paragraph--type--homepage-carousel {
  z-index: 0;
  margin-top: -70px;
}

.paragraph--type--carousel-slide {

  &.paragraph-bg--blue .paragraph-inner-holder {
    background-image: url('../../images/bubble_home_carousel_bg_blue.svg');
  }

  &.paragraph-bg--green .paragraph-inner-holder {
    background-image: url('../../images/bubble_home_carousel_bg_green.svg');
  }

  &.paragraph-bg--purple .paragraph-inner-holder {
    background-image: url('../../images/bubble_home_carousel_bg_purple.svg');
  }

  &.paragraph-bg--red .paragraph-inner-holder {
    background-image: url('../../images/bubble_home_carousel_bg_red.svg');
  }

  &.paragraph-bg--orange .paragraph-inner-holder {
    background-image: url('../../images/bubble_home_carousel_bg_orange.svg');
  }
}

.paragraph--type--carousel-slide .paragraph-inner-holder {
  display: flex;
  padding-top: 140px;
  background-repeat: no-repeat;
  background-position: right top;

  @include breakpoint($widestmobOnly) {
    padding-top: 100px;
  }

  // Slide
  >.content-wrapper {
    @include breakpoint($tab) {
      @include column-row();
    }

    .text-wrapper {
      padding-bottom: 20px;
      @include column-create(5);
      background: transparent;

      @include breakpoint($tab) {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        padding-bottom: 60px;
      }
    }

    .field--name-field-image {
      padding-bottom: 40px;
      @include column-create(6);
      background: transparent;

      @include breakpoint($tab) {
        padding-bottom: 60px;
      }
    }
  }

  // Title
  .field--name-field-title {

    h1,
    h2,
    h3,
    h4 {
      font-size: 36px;
      line-height: 43px;
    }
  }

  // Description
  .field--name-field-text {
    margin-top: -5px;
    color: $color-dark-grey;
  }

  .field--name-field-title,
  .field--name-field-text {
    @include breakpoint(0 $tab-max) {
      padding-right: 100px;
    }
  }

  // Button
  .field--name-field-link {
    margin-top: 5px;

    a {
      @extend %btn-secondary;

      color: $black;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      padding: 12px 30px;
      background: $white;
      border-radius: 30px;
      box-shadow: $box-shadow-primary-btn;
      display: inline-block;
      text-decoration: none;

      &:focus {
        background: $color-background-focus;
        color: $blue;
        text-decoration: underline;
      }
    }
  }

  %btn-secondary {
    transition: all .2s ease-in-out;

    &:hover {
      box-shadow: 0 5px 20px 5px rgba($grey-lightest, 0.3);
      transform: translateY(-5px);
      color: $blue;
      text-decoration: underline;
    }
  }
}

.slick-arrow {
  border-radius: 0;
  font-size: 14px;
  color: $black;
  background: none;
  height: 60px;
  padding: 0;
  min-width: auto;

  &:hover,
  &:focus {
    box-shadow: none;
    background-color: none;
  }
}

.slick-prev {
  left: -120px;
  background: url('../../images/slider-arrow-previous.svg') no-repeat left top;
  background-size: 50%;
  text-align: left;
}

.slick-next {
  right: -120px;
  background: url('../../images/slider-arrow-next.svg') no-repeat right top;
  background-size: 50%;
  text-align: right;
}

.slick-dots {
  position: absolute;
  bottom: 35px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  z-index: 1;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
  box-shadow: none;
  background-color: none;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  box-shadow: none;
}

.slick-dots li button:before {
  font-size: 32px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .4;
  color: black;
  box-shadow: none;
}

.slick-dots li.slick-active button:before {
  font-size: 33px;
  opacity: 0.9;
}
