.paragraph--type--page-header {
  background-size: contain;
  background-position: center 90%;

  &.paragraph-bg--purple {
    @include page-header-bg($svg_purple);
  }

  &.paragraph-bg--blue {
    @include page-header-bg($svg_blue);
  }

  &.paragraph-bg--red {
    @include page-header-bg($svg_red);
  }

  &.paragraph-bg--green {
    @include page-header-bg($svg_green);
  }

  &.paragraph-bg--orange {
    @include page-header-bg($svg_orange);
  }

  .field--name-field-image {
    margin-bottom: 20px;

    img {
      margin: auto;
    }
  }

  h2 {
    font-size: 36px;
    line-height: 43px;
  }

  .field--name-field-text {
    color: $grey;
  }
}

@include breakpoint($tab) {
  .paragraph--type--page-header {
    padding: 80px 0 40px 0;
    background-position: center right;

    .paragraph-inner-holder {
      display: flex;
      justify-content: start;
    }

    .text-wrapper {
      display: flex;
      flex-flow: wrap;
      align-content: center;
      padding-right: 20px;
    }

    .field--name-field-image {
      margin-left: 0;
      width: 48%;
      max-width: 452px;
      flex-shrink: 0;
      margin-right: 40px;
    }
  }
}

@include breakpoint($widestdesk) {
  .paragraph--type--page-header {
    padding: 80px 0 40px 0;

    .text-wrapper {
      padding-right: 20px;
    }
  }
}
