// 1em = 16px
$gutter-mob: 20px;
$gutter-tab: 30px;
$gutter-desk: 40px;

$mobile: 22.5em; // 360px
$widemob: 30em; // 480px
$widestmob: 40em; // 640px
$tab: 48em; // 768px
$tab-max: ($tab - 0.0625em);
$desk: 64em; // 1024px
$mediumdesk: 68.75em; // 1100px
$widedesk: 80em; // 1280px
$widestdesk: 90em; // 1440px

$mobileOnly: max-width 47.9375em; // max-width:767px
$mobileTabletOnly: max-width 64em; // max-width:1024px
$tabletOnly: 48em 64em; // min-width:768px and max-width:1024px

// Content width
$mobile_inner: 20em;
$tab_inner: 44.25em;
$desk_inner: 59em;
$widedesk_inner: 83.75em;

// Content's spacings count
$mobile_padding: ($mobile - $mobile_inner)/2; // 20px
$tab_padding: ($tab - $tab_inner)/2; // 30px
$desk_padding: ($desk - $desk_inner)/2; // 40px
$widedesk_padding: ($widestdesk - $widedesk_inner)/2; // 50px

$sidebar_content_width: 320;

$breakpoints_min: ('mobile': (min-width: 0px),
  'widemob': (min-width: #{$mobile}),
  'tab': (min-width: #{$tab}),
  'desk': (min-width: #{$desk}),
  'widedesk': (min-width: #{$widedesk}),
);

$breakpoints_max: ('mobile': (max-width: #{$mobile}),
  'widemob': (max-width: #{$tab}),
  'tab': (max-width: #{$desk}),
  'desk': (max-width: #{$widedesk}),
);

/* borrowed */
$bright-yellow: #fd0;
$color-white: #fff;
$color-black: #000;

$color-primary: #2A2A3C; //Dark
$color-primary-darker: #19192a; //Deep dark

$color-secondary: #CC051C; //Scarlet
$color-secondary-light: #DE3528; //Tomato

$color-dark-grey: #3E3D40; //Charcoal grey
$color-grey: #545456; //Slat grey

$box-shadow-primary: 0 5px 20px 0 rgba($color-primary, 0.58);
$box-shadow-secondary: 0 5px 20px 0 rgba($color-primary, 0.58);
$box-shadow-primary-hover: 0 5px 20px 0 $color-secondary;
$box-shadow-secondary-hover: 0 5px 20px 5px rgba($color-primary, 0.58);
$box-shadow-secondary-hover-big: 0 20px 60px 0 rgba($color-secondary, 0.56);
$box-shadow-gray-light: 0 20px 40px 0 rgba(97, 97, 97, 0.2);
$box-shadow-dark: 0 32px 40px -37px rgba(0, 0, 0, 0.5);
$box-shadow-primary-btn: 0 5px 20px 0 rgba($color-primary, 0.3);
$box-shadow-secondary-btn-hover: 0 5px 20px 5px rgba($color-primary, 0.3);

@mixin theme-secondary {
  background-image: linear-gradient(to right, $color-secondary-light, $color-secondary);
  color: $color-white;
}

%theme-secondary {
  @include theme-secondary;
}

@mixin btn-secondary-hover {
  @include theme-secondary;
  box-shadow: $box-shadow-secondary-btn-hover;
  transform: translateY(-5px);
}

.btn-secondary,
%btn-secondary {
  @extend %btn;
  @extend %theme-secondary;
  transition: all .2s ease-in-out;

  &:hover {
    @include btn-secondary-hover;
  }
}


$border-radius-small: 10px;
$border-radius-small-mobile: 5px;

%border-radius-small {
  border-radius: $border-radius-small-mobile;

  @include breakpoint($widedesk) {
    border-radius: $border-radius-small;
  }
}



// Buttons
%btn {
  @extend %border-radius-small;
  padding: 10px;
  box-shadow: $box-shadow-primary-btn;
  display: inline-block;

  @include breakpoint($widedesk) {
    font-size: $base-font-size;
    padding: 18px 20px;
  }
}


$column-padding-mobile: 13px;
$column-padding-default: 20px;

@mixin column-row {
  @include flexbox;
  @include flex-wrap(wrap);
  margin-left: 0-$column-padding-mobile;
  margin-right: 0-$column-padding-mobile;

  @include breakpoint($tab) {
    margin-left: 0-$column-padding-default;
    margin-right: 0-$column-padding-default;
  }
}

.column-row {
  @include column-row;
}

@mixin column-create($cols: 12, $break_at: $tab) {
  padding-left: $column-padding-mobile;
  padding-right: $column-padding-mobile;
  box-sizing: border-box;
  width: 100%;

  @include breakpoint($tab) {
    padding-left: $column-padding-default;
    padding-right: $column-padding-default;
  }

  @include breakpoint($break_at) {
    width: 100%;
    max-width: 100%/12*$cols;
  }
}


$color-background-focus: $bright-yellow;
