// Theme colour pallet
$main-bg: #fff;

$white: #fff;
$black: #000;

$grey_darkest: #333;
$grey_dark: #4f4f4f;
$grey: #828282;
$grey-light: #bdbdbd;
$grey-lighter: #e0e0e0;
$grey-lightest: #f2f2f2;

$red_dark: #AE2626;
$red: #EB5757;
$orange: #F2994A;
$yellow: #F2C94C;

$green_dark: #219653;
$green: #27AE60;
$green_light: #6FCF97;

$blue_darkest: #0E5ECB;
$blue_dark: #2F80ED;
$blue: #2D9CDB;
$blue_light: #56CCF2;

$purple_dark: #9B51E0;
$purple: #BB6BD9;

$transparent: transparent;
$transparent_green: rgba(78,212,193,0.2);
$transparent_red: rgba(193,58,73,0.2);
$transparent_black: rgba(0,0,0,0.2);

$twitter: #1DA1F2;
$facebook: #4267B2;
$instagram: #F56040;
$instagram-gradient: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
