/*******************************************************************************
 * Region Footer
 ******************************************************************************/
.region-footer {
  .menu {
    margin: 0;

    li {
      font-size: 12px;
      display: block;
      vertical-align: middle;
      margin: 0;
    }
  }
}

.region-copyright {
  p {
    font-size: 12px;
  }
}

@include breakpoint($tab) {
  .region-footer {
    .menu {
      li {
        font-size: 14px;
      }
    }
  }

  .region-copyright {
    p {
      font-size: 14px;
    }
  }
}

@include breakpoint($desk) {
  .region-footer {
    .menu {
      li {
        font-size: 16px;
      }
    }
  }

  .region-copyright {
    p {
      font-size: 16px;
    }
  }
}
