*,
*:after,
*:before {
  @include box-sizing(border-box);
}

$gutter-mob: 20px;
$gutter-tab: 30px;
$gutter-desk: 40px;

$gray-light: #D8DDE0;

table {
  padding: 0;
  margin: 0 auto 20px;
  width: 100%;
  border: 0;

  th,
  td {
    font-size: 12px;
    border: 0;
    padding: 10px;
    text-align: left;
  }

  th {
    font-weight: 700;
  }

  tbody {
    tr:nth-child(odd) {
      td {
        background: $grey-lightest;
      }
    }
  }
}

figure {
  margin: 0 0 20px;

  &.align-left {
    float: left;
    margin-right: 20px;
  }

  &.align-right {
    float: right;
    margin-left: 20px;
  }

  &.align-center {
    margin: 0 auto;
  }
}

figcaption,
.field--name-field-image-caption {
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  &.align-left {
    float: left;
    margin: 0 20px 20px 0;
  }

  &.align-right {
    float: right;
    margin: 0 0 20px 20px;
  }

  &.align-center {
    margin-bottom: 20px;
  }
}

iframe {
  width: 100%;
  max-width: 100%;
}

#page-wrapper {
  background: $main-bg;
  padding: 0 $mobile_padding;
}

#page,
#footer-wrap {
  max-width: $widedesk_inner;
  margin: 0 auto 20px;
}

.region-content {
  margin-bottom: 20px;
}

.messages {
  margin-bottom: 20px;
}

.breadcrumb {
  margin-bottom: 0;
  padding-bottom: 0;

  li {
    font-size: 12px;

    &::before {
      content: "/";
    }

    &:first-child:before {
      content: none;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.item-list li {
  margin: 0 0 20px;
}

@media screen and (max-width: $widemob) {
  iframe {
    height: auto;
  }
}

@include breakpoint($tab) {
  #page-wrapper {
    padding: 0 $tab_padding;
  }
}

@include breakpoint($desk) {
  table {

    th,
    td {
      padding: 15px;
      font-size: 14px;
      ;
    }
  }

  #page-wrapper {
    padding: 0 $desk_padding;
  }
}

@include breakpoint($widestdesk) {
  .breadcrumb {
    li {
      font-size: 14px;
    }
  }

  #page-wrapper {
    padding: 0 $widedesk_padding;
  }
}
