/*******************************************************************************
 * Region Navigation
 ******************************************************************************/

// Mobile hamburger menu
#nav-opener {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 4;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  cursor: pointer;

  &:focus {
    outline-offset: 0;
  }

  .label {
    white-space: nowrap;

    .hide-mobile-label {
      display: none;
    }
  }
}

#main-menu-toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-user-select: none;
  user-select: none;
  width: auto;
  border-radius: 50%;
  @include transform(rotate(0deg));
  @include transition(.5s ease-in-out);
  cursor: pointer;

  &:hover,
  &:focus {
    @include box-shadow(0 5px 30px 0 $transparent_green);
  }

  .hambuger-bar {
    display: block;
    width: 1.3125em;
    margin: 3px auto 0;
    height: 3px;
    background: $black;
    opacity: 1;
    @include absolute($left: 9px);
    @include transform(rotate(0deg));
    @include transition(.25s ease-in-out);

  }

  .hambuger-bar-1 {
    top: 8px;
    transform-origin: left center;
  }

  .hambuger-bar-2 {
    top: 15px;
    transform-origin: left center;
  }

  .hambuger-bar-3 {
    top: 22px;
    transform-origin: left center;
  }
}

#nav-opener:focus {
  #main-menu-toggle {
    @include box-shadow(0 5px 30px 0 $transparent_green);
  }
}

#main-menu-sidebar {
  &.open {
    display: block;
  }

  ul.menu {
    margin: 0;
    text-align: left;

    a {
      color: $black;
      text-decoration: none;
      border-bottom: 3px solid transparent;

      &:hover,
      &:focus {
        border-bottom-color: $black;
        text-decoration: none;
      }
    }

    .menu-item--active-trail {
      a {
        border-bottom-color: $black;
      }
    }
  }

  .header-main-menu {
    font-weight: bold;
  }

  li {
    padding: .75em 0;
    font-size: 1rem;
  }

  nav.navigation ul li {
    display: block;
  }
}



.overlay-on {
  @at-root body#{&} {
    /* Scroll menu not body when menu displayed and user scrolls window */
    overflow: hidden;
  }

  #main-menu-sidebar {
    transform: none;
    opacity: 1;
    z-index: 3;
  }

  #main-menu-overlay {
    display: block;
  }

  #main-menu-toggle {
    .hambuger-bar-1 {
      width: 27px;
      left: 11px;
      top: 7px;
      @include transform(rotate(45deg));
    }

    .hambuger-bar-2 {
      width: 0;
      opacity: 0;
    }

    .hambuger-bar-3 {
      top: 26px;
      left: 11px;
      width: 27px;
      @include transform(rotate(-45deg));
    }
  }

  #block-bbd-classy-branding {
    position: relative;
    z-index: 1;

    .site-name a {
      color: $white;
    }
  }
}

ul.main-megamenu {
  margin: 0;


  li {
    display: block;
    vertical-align: top;
    margin: 0 8px;
    font: 700 14px/16px $body-font;

    a {
      color: $grey_darkest;
      border-bottom: 2px solid $transparent;
      text-decoration: none;

      &:hover,
      &.is-active {
        border-bottom: 2px solid $grey_darkest;
      }
    }
  }
}

@include breakpoint($mobileOnly) {
  .region-header>#block-bbd-classy-main-menu {
    display: none;
  }

  #main-menu-sidebar {
    overflow: auto;
    display: none;
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    right: 0;
    padding: 40px 20px;
    height: 100vh;
    bottom: 0;
    z-index: 0;
    background: $red;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0 0;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    ul.main-megamenu {
      li {
        display: block;
        margin: 0 0 10px;
      }
    }
  }
}

@include breakpoint($tab) {
  ul.main-megamenu {
    li {
      margin: 0 16px;
    }
  }

  #nav-opener,
  #main-menu-sidebar {
    display: none;
  }

  #main-menu-sidebar {
    width: calc(100% - 180px);

    ul.menu {
      a {
        color: $grey;
      }
    }

    nav.navigation ul li {
      display: inline-block;
      padding: 0 8px;
      font-size: 12px;

      a {
        display: block;
        padding: 5px 0;
        color: $grey;
        border-bottom: 3px solid transparent;

        &:hover,
        &:focus {
          text-decoration: none;
          border-bottom-color: $red;
        }
      }

      &.menu-item--active-trail {
        a {
          text-decoration: none;
          border-bottom-color: $red;
        }
      }
    }
  }

  #block-bbd-classy-main-menu {
    overflow: inherit;
    height: auto;
  }
}

@include breakpoint($desk) {
  ul.main-megamenu {
    li {
      font-size: 18px;
    }
  }

  #main-menu-sidebar {
    width: calc(100% - 220px);

    nav.navigation ul li {
      font-size: 14px;
      padding: 0 8px;
    }
  }
}

@include breakpoint($mediumdesk) {
  #main-menu-sidebar {
    width: calc(100% - 275px);

    nav.navigation ul li {
      font-size: 16px;
      padding: 0 10px;
    }
  }
}
