/* Read the intro about usage of breakpoint http://breakpoint-sass.com/ */
/* Flexbox containers */
/* Flexbox direction */
/* Flexbox wrap */
/* Flexbox basis */
/* Flexbox grow */
/* Flexbox justify content */
/* Flexbox align items */
/* Flexbox align content */
/* Flexbox align self */
/* Flex */
/* Order */
/* Box Sizing */
/* Box shadow */
/* Transitions */
/* Transform */
/* Background size */
/* Border Radius */
/* Single side border-radius */
/* Clearfix */
/* Mixin position */
/* Placeholder */
/* line 4, ../scss/variables/_typography.scss */
body {
  font-size: 14px;
  font-family: "Frutiger LT W01_45 Ligh1475730", Arial, sans-serif;
  line-height: 20px;
}

/* line 10, ../scss/variables/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Frutiger LT W01_65 Bold1475746", Arial, sans-serif;
  margin: 0 0 25px;
}

/* line 26, ../scss/variables/_typography.scss */
h1,
.h1 {
  font-size: 48px;
  line-height: 56px;
}

/* line 32, ../scss/variables/_typography.scss */
h2,
.h2 {
  font-size: 40px;
  line-height: 48px;
}

/* line 38, ../scss/variables/_typography.scss */
h3,
.h3 {
  font-size: 36px;
  line-height: 44px;
}

/* line 44, ../scss/variables/_typography.scss */
h4,
.h4 {
  font-size: 32px;
  line-height: 39px;
}

/* line 50, ../scss/variables/_typography.scss */
h5,
.h5 {
  font-size: 24px;
  line-height: 28px;
}

/* line 56, ../scss/variables/_typography.scss */
h6,
.h6 {
  font-size: 18px;
  line-height: 21px;
}

/* line 62, ../scss/variables/_typography.scss */
p {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 20px;
}
/* line 67, ../scss/variables/_typography.scss */
p.small {
  font-size: 10px;
  line-height: 14px;
}
/* line 72, ../scss/variables/_typography.scss */
p.large {
  font-size: 19px;
  line-height: 28px;
}

/* line 80, ../scss/variables/_typography.scss */
.region-content ul,
.region-content ol {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}
/* line 90, ../scss/variables/_typography.scss */
.region-content ul {
  list-style-type: disc;
  padding-left: 20px;
}
/* line 95, ../scss/variables/_typography.scss */
.region-content ul > li,
.region-content ol > li {
  margin-bottom: 8px;
}

/* line 101, ../scss/variables/_typography.scss */
a {
  position: relative;
  text-decoration: underline;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #005eb8;
}
/* line 108, ../scss/variables/_typography.scss */
a:hover, a:focus {
  color: black;
  text-decoration: none;
}

/* line 115, ../scss/variables/_typography.scss */
strong {
  font-weight: 700;
}

/* line 119, ../scss/variables/_typography.scss */
em {
  font-style: italic;
}

/* line 123, ../scss/variables/_typography.scss */
blockquote {
  border: none;
  border-left: 2px solid #4C6272;
  margin: 0 0 30px;
  padding: 0 0 0 20px;
  font-size: 20px;
  font-weight: 500;
}

@media (min-width: 48em) {
  /* line 133, ../scss/variables/_typography.scss */
  body {
    font-size: 14px;
    line-height: 20px;
  }

  /* line 138, ../scss/variables/_typography.scss */
  h1,
  .h1 {
    font-size: 48px;
  }

  /* line 143, ../scss/variables/_typography.scss */
  h2,
  .h2 {
    font-size: 40px;
    line-height: 1.175;
  }

  /* line 149, ../scss/variables/_typography.scss */
  h3,
  .h3 {
    font-size: 36px;
  }

  /* line 154, ../scss/variables/_typography.scss */
  h4,
  .h4 {
    font-size: 24px;
    line-height: 1.2083;
  }

  /* line 160, ../scss/variables/_typography.scss */
  p {
    font-size: 14px;
    line-height: 20px;
  }

  /* line 167, ../scss/variables/_typography.scss */
  .region-content ul,
  .region-content ol {
    font-size: 19px;
    margin-bottom: 24px;
    line-height: 1.47368;
  }

  /* line 175, ../scss/variables/_typography.scss */
  blockquote {
    margin-bottom: 30px;
    font-size: 24px;
    padding-left: 30px;
  }
}
@media (min-width: 64em) {
  /* line 184, ../scss/variables/_typography.scss */
  body {
    font-size: 19px;
    line-height: 28px;
  }

  /* line 189, ../scss/variables/_typography.scss */
  h1,
  .h1 {
    font-size: 72px;
  }

  /* line 194, ../scss/variables/_typography.scss */
  h2,
  .h2 {
    font-size: 64px;
    line-height: 1.1718;
  }

  /* line 200, ../scss/variables/_typography.scss */
  h3,
  .h3 {
    font-size: 48px;
    line-height: 1.1666;
  }

  /* line 206, ../scss/variables/_typography.scss */
  h4,
  .h4 {
    font-size: 36px;
    line-height: 1.1666;
  }

  /* line 212, ../scss/variables/_typography.scss */
  h5,
  .h5 {
    font-size: 24px;
    line-height: 1.2083;
  }

  /* line 218, ../scss/variables/_typography.scss */
  p {
    font-size: 19px;
    line-height: 20px;
  }

  /* line 225, ../scss/variables/_typography.scss */
  .region-content ul,
  .region-content ol {
    font-size: 14px;
    line-height: 20px;
  }

  /* line 232, ../scss/variables/_typography.scss */
  blockquote {
    margin-bottom: 50px;
  }
}
/* line 1, ../scss/base/_datepicker.scss */
.ui-datepicker {
  width: calc(100% - 40px);
  max-width: 422px;
  background: #fff;
  box-shadow: 0 5px 30px 0 #007F3B;
  border-radius: 0;
}
/* line 8, ../scss/base/_datepicker.scss */
.ui-datepicker.ui-widget.ui-widget-content {
  border: 0;
  padding: 10px 10px 0;
}
/* line 13, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-widget {
  font-size: 13px;
}
/* line 17, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-datepicker-header {
  background: 0;
  border-radius: 0;
  border: 0;
}
/* line 23, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-state-default,
.ui-datepicker .ui-widget-content .ui-state-default,
.ui-datepicker .ui-widget-header .ui-state-default,
.ui-datepicker .ui-button,
.ui-datepicker .ui-button.ui-state-disabled:hover, .ui-datepicker .ui-button.ui-state-disabled:active {
  background: 0;
  border: 0;
}
/* line 32, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-datepicker-title {
  font-weight: bold;
  font-size: 13px;
  color: #212B32;
  text-transform: uppercase;
}
/* line 40, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
}
/* line 43, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-datepicker-calendar td a, .ui-datepicker .ui-datepicker-calendar td span {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  line-height: 30px;
  padding: 0;
  color: #212B32;
  width: 30px;
  height: 30px;
  text-align: center;
}
/* line 58, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-datepicker-current-day a, .ui-datepicker .ui-datepicker-current-day span {
  border-radius: 50%;
  background: #007F3B;
}
/* line 64, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-datepicker-current-day.ui-datepicker-today a, .ui-datepicker .ui-datepicker-current-day.ui-datepicker-today span {
  background: #007F3B;
}
/* line 71, ../scss/base/_datepicker.scss */
.ui-datepicker .startDate a, .ui-datepicker .endDate a {
  border-radius: 50%;
  background: #007F3B;
}
/* line 79, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-datepicker-prev .ui-icon,
.ui-datepicker .ui-datepicker-next .ui-icon {
  background: none;
}
/* line 82, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-datepicker-prev .ui-icon::before, .ui-datepicker .ui-datepicker-prev .ui-icon::after,
.ui-datepicker .ui-datepicker-next .ui-icon::before,
.ui-datepicker .ui-datepicker-next .ui-icon::after {
  position: absolute;
  bottom: 7px;
  right: 0;
  content: '';
  width: 8px;
  height: 1px;
  margin: 0;
  border-top: 1px solid #007F3B;
}
/* line 94, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-datepicker-prev .ui-icon::before,
.ui-datepicker .ui-datepicker-next .ui-icon::before {
  transform: rotate(45deg);
}
/* line 98, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-datepicker-prev .ui-icon::after,
.ui-datepicker .ui-datepicker-next .ui-icon::after {
  transform: rotate(-45deg);
  right: 0;
  bottom: 12px;
}
/* line 105, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-prev:focus,
.ui-datepicker .ui-datepicker-next:hover,
.ui-datepicker .ui-datepicker-next:focus {
  background: none;
  border: 0;
}
/* line 113, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-datepicker-next .ui-icon::before {
  transform: rotate(-45deg);
  right: 10px;
}
/* line 118, ../scss/base/_datepicker.scss */
.ui-datepicker .ui-datepicker-next .ui-icon::after {
  transform: rotate(45deg);
  left: auto;
  right: 10px;
}

/*******************************************************************************
 * Region Footer
 ******************************************************************************/
/* line 5, ../scss/base/_footer.scss */
.region-footer .menu {
  margin: 0;
}
/* line 8, ../scss/base/_footer.scss */
.region-footer .menu li {
  font-size: 12px;
  display: block;
  vertical-align: middle;
  margin: 0;
}

/* line 18, ../scss/base/_footer.scss */
.region-copyright p {
  font-size: 12px;
}

@media (min-width: 48em) {
  /* line 26, ../scss/base/_footer.scss */
  .region-footer .menu li {
    font-size: 14px;
  }

  /* line 33, ../scss/base/_footer.scss */
  .region-copyright p {
    font-size: 14px;
  }
}
@media (min-width: 64em) {
  /* line 42, ../scss/base/_footer.scss */
  .region-footer .menu li {
    font-size: 16px;
  }

  /* line 49, ../scss/base/_footer.scss */
  .region-copyright p {
    font-size: 16px;
  }
}
/* line 1, ../scss/base/_form.scss */
button, input, optgroup, select, textarea {
  font-family: "Frutiger LT W01_45 Ligh1475730", Arial, sans-serif;
  color: #4f4f4f;
}

/* line 6, ../scss/base/_form.scss */
button, a.button, .form-submit, input[type="submit"] {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 0;
  font: 700 14px/20px "Frutiger LT W01_45 Ligh1475730", Arial, sans-serif;
  background: #2F80ED;
  padding: 11px 20px;
  color: #fff;
  border: 0;
  text-align: center;
  min-width: 100px;
  text-decoration: none;
}
/* line 19, ../scss/base/_form.scss */
button:hover, button:focus, a.button:hover, a.button:focus, .form-submit:hover, .form-submit:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  box-shadow: 0 5px 15px #AEB7BD;
  text-decoration: none;
}
/* line 24, ../scss/base/_form.scss */
button:active, a.button:active, .form-submit:active, input[type="submit"]:active {
  background: #0E5ECB;
}
/* line 28, ../scss/base/_form.scss */
button[disabled], a.button[disabled], .form-submit[disabled], input[type="submit"][disabled] {
  opacity: .5;
}
/* line 32, ../scss/base/_form.scss */
button[id^="edit-reset"], button[id^="edit-delete"], a.button[id^="edit-reset"], a.button[id^="edit-delete"], .form-submit[id^="edit-reset"], .form-submit[id^="edit-delete"], input[type="submit"][id^="edit-reset"], input[type="submit"][id^="edit-delete"] {
  background: #D5281B;
}
/* line 37, ../scss/base/_form.scss */
.red button, .red a.button, .red .form-submit, .red input[type="submit"] {
  background: #D5281B;
}
/* line 40, ../scss/base/_form.scss */
.red button:active, .red a.button:active, .red .form-submit:active, .red input[type="submit"]:active {
  background: #AE2626;
}
/* line 45, ../scss/base/_form.scss */
.grey button, .grey a.button, .grey .form-submit, .grey input[type="submit"] {
  color: #333;
  background: #AEB7BD;
}
/* line 49, ../scss/base/_form.scss */
.grey button:active, .grey a.button:active, .grey .form-submit:active, .grey input[type="submit"]:active {
  background: #8597A3;
}

/* line 55, ../scss/base/_form.scss */
a.button {
  background: #D5281B;
  text-decoration: none;
}
/* line 59, ../scss/base/_form.scss */
a.button:active {
  background: #AE2626;
}

/* line 64, ../scss/base/_form.scss */
input, optgroup, select, textarea {
  background: #D8DDE0;
  padding: 10px;
  border: 1px solid #AEB7BD;
  border-radius: 3px;
}

/* line 72, ../scss/base/_form.scss */
input:not([type="radio"], [type='checkbox'], [type="date"], [type="time"], [type="submit"]) {
  width: 100%;
  font-size: 12px;
  line-height: 20px;
}
/* line 78, ../scss/base/_form.scss */
input[type="search"] {
  box-sizing: border-box;
  padding-right: 40px;
  background: #D8DDE0 url("../../images/icon-search.png") no-repeat right 15px bottom 50%;
  background-size: 15px;
}

/* line 86, ../scss/base/_form.scss */
.captcha {
  margin-bottom: 15px;
}

/* line 90, ../scss/base/_form.scss */
summary {
  font-size: 20px;
  line-height: 1.3;
  padding: 0;
  margin-bottom: 20px;
}

/* line 97, ../scss/base/_form.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  margin-inline-start: inherit;
  margin-inline-end: inherit;
  padding-block-start: inherit;
  padding-inline-start: inherit;
  padding-inline-end: inherit;
  padding-block-end: inherit;
}

/* line 109, ../scss/base/_form.scss */
details {
  border: 0;
  margin: 0;
}
/* line 113, ../scss/base/_form.scss */
details > .details-wrapper {
  padding: 0;
}

/* line 118, ../scss/base/_form.scss */
tr.odd .form-item, tr.even .form-item {
  margin-bottom: 15px;
}

/* line 122, ../scss/base/_form.scss */
.paragraphs-dragdrop__icon {
  height: 100%;
}

/* line 126, ../scss/base/_form.scss */
.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  font-size: 1rem;
  padding-top: 3px;
}

/* line 134, ../scss/base/_form.scss */
.form-checkboxes .form-item,
.form-radios .form-item {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  margin: 0 -4px 15px 0;
}

/* line 142, ../scss/base/_form.scss */
.form-wrapper .paragraphs-dropdown-action.button {
  max-width: 100%;
  color: #212B32;
}
/* line 146, ../scss/base/_form.scss */
.form-wrapper .paragraphs-dropdown-action.button:hover, .form-wrapper .paragraphs-dropdown-action.button:focus {
  color: #fff;
}

/* line 152, ../scss/base/_form.scss */
.field--widget-paragraphs .form-submit {
  margin-left: 0;
}

/* line 159, ../scss/base/_form.scss */
form fieldset fieldset.form-item {
  margin: 0;
}
/* line 165, ../scss/base/_form.scss */
form .form-time::-webkit-calendar-picker-indicator {
  font-size: 30px;
  padding: 0;
  line-height: 0;
}
/* line 172, ../scss/base/_form.scss */
form .form-time:hover::-webkit-calendar-picker-indicator {
  opacity: .5;
}
/* line 178, ../scss/base/_form.scss */
form .file {
  margin-bottom: 20px;
}
/* line 181, ../scss/base/_form.scss */
form .file ~ .button {
  margin: 0;
}
/* line 186, ../scss/base/_form.scss */
form .selectric {
  background: #D8DDE0;
  padding: 10px;
  border: 1px solid #AEB7BD;
  border-radius: 3px;
}
/* line 192, ../scss/base/_form.scss */
form .selectric .label {
  font-family: "Frutiger LT W01_45 Ligh1475730", Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  height: auto;
  color: #4f4f4f;
  margin-left: 0;
}
/* line 202, ../scss/base/_form.scss */
form .selectric .button {
  height: 100%;
  width: 30px;
  font-size: 20px;
  line-height: 40px;
  color: #4f4f4f;
  margin: 0;
  background: 0;
}
/* line 211, ../scss/base/_form.scss */
form .selectric .button::after {
  content: inherit;
}
/* line 216, ../scss/base/_form.scss */
form .selectric-items {
  background: #D8DDE0;
  width: 100%;
  padding: 5px;
  box-shadow: 0 5px 10px 0 #8597A3;
  border-radius: 3px;
}
/* line 223, ../scss/base/_form.scss */
form .selectric-items ul {
  font-size: inherit;
}
/* line 227, ../scss/base/_form.scss */
form .selectric-items li {
  font-family: "Frutiger LT W01_45 Ligh1475730", Arial, sans-serif;
  font-size: 12px;
  padding: 10px;
}
/* line 232, ../scss/base/_form.scss */
form .selectric-items li.highlighted {
  background-color: #8597A3;
  color: #fff;
}
/* line 236, ../scss/base/_form.scss */
form .selectric-items li.highlighted:hover {
  background-color: #8597A3;
  color: #fff;
}
/* line 242, ../scss/base/_form.scss */
form .selectric-items li:hover {
  background-color: #AEB7BD;
}
/* line 251, ../scss/base/_form.scss */
form .selectric-hover .selectric .button {
  color: #333;
}
/* line 257, ../scss/base/_form.scss */
form .selectric-wrapper {
  display: block;
}
/* line 260, ../scss/base/_form.scss */
form .selectric-wrapper div {
  display: inherit;
}
/* line 264, ../scss/base/_form.scss */
form .selectric-wrapper .selectric-items {
  display: none;
}
/* line 269, ../scss/base/_form.scss */
form .selectric-wrapper.selectric-open .selectric-items {
  display: block;
  margin-top: -1px;
}
/* line 276, ../scss/base/_form.scss */
.js form input.form-autocomplete {
  background-position: right 15px bottom 50%;
}
/* line 279, ../scss/base/_form.scss */
.js form input.form-autocomplete.ui-autocomplete-loading {
  background-position: right 15px bottom 50%;
}
/* line 285, ../scss/base/_form.scss */
form .js-form-type-date input {
  padding: 10px;
}
/* line 288, ../scss/base/_form.scss */
form .js-form-type-date input.form-date {
  background: #AEB7BD url("../../images/icon-calendar.svg") no-repeat right 15px bottom 50%;
  background-size: 21px 24px;
}
/* line 292, ../scss/base/_form.scss */
form .js-form-type-date input.form-date:hover {
  background-image: url("../../images/icon-calendar-over.svg");
}
/* line 300, ../scss/base/_form.scss */
form .js-form-type-datetime > .container-inline {
  width: 100%;
  margin: 0;
}
/* line 305, ../scss/base/_form.scss */
form .js-form-type-datetime .form-item, form .js-form-type-datetime .form-actions {
  margin: 0;
}
/* line 309, ../scss/base/_form.scss */
form .js-form-type-datetime .js-form-type-date,
form .js-form-type-datetime .js-form-type-webform-time {
  display: inline-block;
  vertical-align: top;
  width: 65%;
}
/* line 315, ../scss/base/_form.scss */
form .js-form-type-datetime .js-form-type-date input,
form .js-form-type-datetime .js-form-type-webform-time input {
  width: 100%;
  padding: 8px 10px;
}
/* line 321, ../scss/base/_form.scss */
form .js-form-type-datetime .js-form-type-date {
  margin-right: 2%;
}
/* line 325, ../scss/base/_form.scss */
form .js-form-type-datetime .js-form-type-webform-time {
  width: 33%;
  margin-left: -6px;
}
/* line 331, ../scss/base/_form.scss */
form .form-wrapper {
  margin-bottom: 25px;
}
/* line 336, ../scss/base/_form.scss */
form .form-actions.form-wrapper:not(:empty) {
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
/* line 107, ../scss/abstractions/_site_mixins.scss */
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  color: #8597A3;
}
/* line 110, ../scss/abstractions/_site_mixins.scss */
form input::-moz-placeholder, form textarea::-moz-placeholder {
  color: #8597A3;
}
/* line 113, ../scss/abstractions/_site_mixins.scss */
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  color: #8597A3;
}
/* line 116, ../scss/abstractions/_site_mixins.scss */
form input:-moz-placeholder, form textarea:-moz-placeholder {
  color: #8597A3;
}
/* line 347, ../scss/base/_form.scss */
form input[type="file"].form-file {
  background: #fff url("../../images/icon-image.png") no-repeat 50% 20px;
  color: transparent;
  margin-bottom: 5px;
  padding: 100px 20px 0;
  background-size: 84px 65px;
  text-align: center;
  cursor: pointer;
}
/* line 356, ../scss/base/_form.scss */
form input[type="file"].form-file::-webkit-file-upload-button, form input[type="file"].form-file::file-selector-button {
  display: inline-block;
  background: #fff;
  color: #8597A3;
  border: 0;
  white-space: nowrap;
  cursor: pointer;
  font-size: 25px;
  text-decoration: underline;
  visibility: hidden;
}
/* line 369, ../scss/base/_form.scss */
form input[type="file"].form-file::before {
  color: #8597A3;
  display: block;
  text-align: center;
  content: 'Drop your image here, or browse';
}
/* line 378, ../scss/base/_form.scss */
form .focal-point-preview-link:hover, form .focal-point-preview-link:focus {
  text-decoration: none;
}
/* line 382, ../scss/base/_form.scss */
form .focal-point-preview-link::before {
  margin-right: 10px;
}
/* line 387, ../scss/base/_form.scss */
form > .form-item {
  margin: 0 0 25px;
}
/* line 390, ../scss/base/_form.scss */
form > .form-item.checkboxes--wrapper, form > .form-item.radios--wrapper {
  margin-bottom: 10px;
}
/* line 397, ../scss/base/_form.scss */
form .form-item > label, form .form-item legend {
  display: block;
  font: bold 12px/14px "Frutiger LT W01_45 Ligh1475730", Arial, sans-serif;
  color: #4f4f4f;
  margin-bottom: 10px;
}
/* line 404, ../scss/base/_form.scss */
form .form-item input[type="tel"], form .form-item.js-form-item-date-field input {
  width: 100%;
}
/* line 410, ../scss/base/_form.scss */
form h4.label {
  display: block;
  font: bold 11px/14px "Frutiger LT W01_45 Ligh1475730", Arial, sans-serif;
  color: #4f4f4f;
  margin-bottom: 6px;
}
/* line 419, ../scss/base/_form.scss */
form .js-form-type-checkbox label,
form .js-form-type-radio label {
  display: inline-block;
  padding-left: 25px;
  font-size: 11px;
  color: #4f4f4f;
  font-weight: normal;
  line-height: 16px;
  margin: 0;
  text-transform: none;
  position: relative;
  z-index: 0;
}
/* line 431, ../scss/base/_form.scss */
form .js-form-type-checkbox label::before, form .js-form-type-checkbox label::after,
form .js-form-type-radio label::before,
form .js-form-type-radio label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}
/* line 441, ../scss/base/_form.scss */
form .js-form-type-checkbox label::before,
form .js-form-type-radio label::before {
  background: #D8DDE0;
  border: 1px solid #8597A3;
}
/* line 449, ../scss/base/_form.scss */
form .js-form-type-checkbox .form-checkbox {
  display: none;
}
/* line 453, ../scss/base/_form.scss */
form .js-form-type-checkbox .form-checkbox:checked + label::after {
  border-color: #2F80ED;
  background: #2F80ED url("../../images/icon-check.png") no-repeat 50% 50%;
  background-size: 50%;
  z-index: 2;
}
/* line 462, ../scss/base/_form.scss */
form .js-form-type-checkbox label {
  padding-left: 25px;
  line-height: 16px;
}
/* line 466, ../scss/base/_form.scss */
form .js-form-type-checkbox label::before {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}
/* line 472, ../scss/base/_form.scss */
form .js-form-type-checkbox label::after {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 3px;
}
/* line 483, ../scss/base/_form.scss */
form .js-form-type-radio .form-radio {
  display: none;
}
/* line 487, ../scss/base/_form.scss */
form .js-form-type-radio .form-radio:checked + label::after {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2F80ED;
  border-color: #2F80ED;
}
/* line 500, ../scss/base/_form.scss */
form .js-form-type-radio label::before {
  border-radius: 50%;
}
/* line 506, ../scss/base/_form.scss */
form .file ~ .button {
  background: #D5281B;
  margin-left: 20px;
  max-width: 200px;
  min-width: 200px;
  padding: 15px 20px;
}
/* line 513, ../scss/base/_form.scss */
form .file ~ .button:hover, form .file ~ .button:focus {
  background: #D5281B;
}

@media (min-width: 64em) {
  /* line 520, ../scss/base/_form.scss */
  summary {
    line-height: 1.5;
    margin-bottom: 30px;
  }

  /* line 525, ../scss/base/_form.scss */
  .region-content .paragraphs-dragdrop__list {
    font-size: 25px;
  }

  /* line 529, ../scss/base/_form.scss */
  button, a.button, .form-submit, input[type="submit"] {
    font-size: 18px;
    padding: 15px 25px;
    line-height: 1.1666;
  }

  /* line 535, ../scss/base/_form.scss */
  form {
    max-width: 40em;
    margin: 0 auto;
  }
  /* line 539, ../scss/base/_form.scss */
  .view-blog form {
    max-width: 100%;
  }
  /* line 544, ../scss/base/_form.scss */
  form .form-item > label, form .form-item legend {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  /* line 552, ../scss/base/_form.scss */
  form .js-form-type-checkbox label {
    padding-left: 29px;
    line-height: 21px;
    margin: 0;
  }
  /* line 557, ../scss/base/_form.scss */
  form .js-form-type-checkbox label::before {
    width: 20px;
    height: 20px;
  }
  /* line 562, ../scss/base/_form.scss */
  form .js-form-type-checkbox label::after {
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
  }
  /* line 572, ../scss/base/_form.scss */
  form .js-form-type-radio label {
    padding-left: 29px;
    line-height: 21px;
    margin: 0;
  }
  /* line 580, ../scss/base/_form.scss */
  form .js-form-type-radio .form-radio:checked + label::after {
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
  }
  /* line 590, ../scss/base/_form.scss */
  form .js-form-type-radio label::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  /* line 599, ../scss/base/_form.scss */
  form input:not([type="radio"], [type='checkbox'], [type="date"], [type="time"], [type="submit"]) {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 15px;
  }
  /* line 606, ../scss/base/_form.scss */
  form input[type="search"] {
    padding-right: 50px;
    background-size: 20px;
    background-position: right 17px bottom 50%;
  }
  /* line 615, ../scss/base/_form.scss */
  form .js-form-type-date input.form-date {
    background-position: right 17px bottom 50%;
  }
  /* line 623, ../scss/base/_form.scss */
  form .js-form-type-date input,
  form .js-form-type-webform-time input {
    font-size: 14px;
    padding: 14px 15px;
    line-height: 20px;
  }
  /* line 633, ../scss/base/_form.scss */
  form .js-form-type-datetime .js-form-type-date input,
  form .js-form-type-datetime .js-form-type-webform-time input {
    font-size: 14px;
    padding: 14px 15px;
    line-height: 20px;
  }
  /* line 641, ../scss/base/_form.scss */
  form .js-form-type-datetime .js-form-type-webform-time input {
    padding: 13px 15px;
  }
  /* line 647, ../scss/base/_form.scss */
  form .selectric {
    padding: 14px 15px;
  }
  /* line 650, ../scss/base/_form.scss */
  form .selectric .label {
    font-size: 14px;
    height: 20px;
    margin: 0;
  }
  /* line 656, ../scss/base/_form.scss */
  form .selectric .button {
    width: 40px;
    line-height: 50px;
  }
  /* line 663, ../scss/base/_form.scss */
  form .selectric-items li {
    font-size: 14px;
  }
  /* line 668, ../scss/base/_form.scss */
  form textarea {
    font-size: 14px;
    line-height: 20px;
    padding: 14px 15px;
    min-height: 150px;
  }
  /* line 676, ../scss/base/_form.scss */
  form > .form-item.checkboxes--wrapper, form > .form-item.radios--wrapper {
    margin-bottom: 25px;
  }
  /* line 682, ../scss/base/_form.scss */
  form .form-actions {
    margin-bottom: 30px;
  }
  /* line 685, ../scss/base/_form.scss */
  form .form-actions.form-wrapper:not(:empty) {
    padding: 30px 0;
  }
}
/* line 1, ../scss/base/_general.scss */
*,
*:after,
*:before {
  box-sizing: border-box;
}

/* line 7, ../scss/base/_general.scss */
table {
  padding: 0;
  margin: 0 auto 20px;
  width: 100%;
  border: 0;
}
/* line 13, ../scss/base/_general.scss */
table th,
table td {
  font-size: 12px;
  border: 0;
  padding: 10px;
  text-align: left;
}
/* line 21, ../scss/base/_general.scss */
table th {
  font-weight: 700;
}
/* line 27, ../scss/base/_general.scss */
table tbody tr:nth-child(odd) td {
  background: #D8DDE0;
}

/* line 34, ../scss/base/_general.scss */
figure {
  margin: 0 0 20px;
}
/* line 37, ../scss/base/_general.scss */
figure.align-left {
  float: left;
  margin-right: 20px;
}
/* line 42, ../scss/base/_general.scss */
figure.align-right {
  float: right;
  margin-left: 20px;
}
/* line 47, ../scss/base/_general.scss */
figure.align-center {
  margin: 0 auto;
}

/* line 52, ../scss/base/_general.scss */
figcaption,
.field--name-field-image-caption {
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
  text-align: left;
}

/* line 61, ../scss/base/_general.scss */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* line 66, ../scss/base/_general.scss */
img.align-left {
  float: left;
  margin: 0 20px 20px 0;
}
/* line 71, ../scss/base/_general.scss */
img.align-right {
  float: right;
  margin: 0 0 20px 20px;
}
/* line 76, ../scss/base/_general.scss */
img.align-center {
  margin-bottom: 20px;
}

/* line 81, ../scss/base/_general.scss */
iframe {
  width: 100%;
  max-width: 100%;
}

/* line 86, ../scss/base/_general.scss */
#page-wrapper {
  background: #f0f4f5;
  padding: 0 1.25em;
}

/* line 91, ../scss/base/_general.scss */
#page,
#footer-wrap {
  max-width: 83.75em;
  margin: 0 auto 20px;
}

/* line 97, ../scss/base/_general.scss */
.region-content {
  margin-bottom: 20px;
}

/* line 101, ../scss/base/_general.scss */
.messages {
  margin-bottom: 20px;
}

/* line 105, ../scss/base/_general.scss */
.breadcrumb {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 109, ../scss/base/_general.scss */
.breadcrumb li {
  font-size: 12px;
}
/* line 112, ../scss/base/_general.scss */
.breadcrumb li::before {
  content: "/";
}
/* line 116, ../scss/base/_general.scss */
.breadcrumb li:first-child:before {
  content: none;
}
/* line 121, ../scss/base/_general.scss */
.breadcrumb a {
  text-decoration: none;
}
/* line 124, ../scss/base/_general.scss */
.breadcrumb a:hover {
  text-decoration: underline;
}

/* line 130, ../scss/base/_general.scss */
.item-list li {
  margin: 0 0 20px;
}

@media screen and (max-width: 30em) {
  /* line 135, ../scss/base/_general.scss */
  iframe {
    height: auto;
  }
}
@media (min-width: 48em) {
  /* line 141, ../scss/base/_general.scss */
  #page-wrapper {
    padding: 0 1.875em;
  }
}
@media (min-width: 64em) {
  /* line 149, ../scss/base/_general.scss */
  table th,
  table td {
    padding: 15px;
    font-size: 14px;
  }

  /* line 157, ../scss/base/_general.scss */
  #page-wrapper {
    padding: 0 2.5em;
  }
}
@media (min-width: 90em) {
  /* line 164, ../scss/base/_general.scss */
  .breadcrumb li {
    font-size: 14px;
  }

  /* line 169, ../scss/base/_general.scss */
  #page-wrapper {
    padding: 0 3.125em;
  }
}
/*******************************************************************************
 * Region Header
 ******************************************************************************/
/* line 4, ../scss/base/_header.scss */
#header-outer-wrapper {
  position: relative;
  /* To make header fixed use this styles/class */
}
/* line 8, ../scss/base/_header.scss */
#header-outer-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 0 1.25em;
  z-index: 4;
}
/* line 17, ../scss/base/_header.scss */
#header-outer-wrapper.fixed #nav-opener {
  right: 1.25em;
}

/* Ordering of elements in the header */
/* line 24, ../scss/base/_header.scss */
.block-system-branding-block {
  order: -3;
  width: calc(100% - 100px);
}

/* line 29, ../scss/base/_header.scss */
.region-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
  margin: 0 auto;
  max-width: 83.75em;
}
/* line 38, ../scss/base/_header.scss */
.region-header > #block-bbd-classy-main-menu {
  order: -2;
  width: calc(100% - 290px);
}

/* line 44, ../scss/base/_header.scss */
.search-block-form {
  order: -1;
}

/* line 48, ../scss/base/_header.scss */
#nav-opener {
  order: 0;
}

/* Logo and slogan */
/* line 53, ../scss/base/_header.scss */
.site-logo {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

/* line 59, ../scss/base/_header.scss */
.site-name {
  display: inline-block;
  vertical-align: top;
  font: 700 14px/21px "Frutiger LT W01_45 Ligh1475730", Arial, sans-serif;
  color: #005eb8;
  width: 100%;
}
/* line 66, ../scss/base/_header.scss */
.site-name a {
  color: #005eb8;
  text-decoration: none;
}

@media (min-width: 48em) {
  /* line 74, ../scss/base/_header.scss */
  #header-outer-wrapper.fixed {
    padding: 0 1.875em;
  }

  /* line 79, ../scss/base/_header.scss */
  #block-bbd-classy-main-menu {
    width: calc(100% - 250px);
  }

  /* line 83, ../scss/base/_header.scss */
  .block-system-branding-block {
    width: 210px;
  }
}
@media (min-width: 64em) {
  /* line 90, ../scss/base/_header.scss */
  #header-outer-wrapper.fixed {
    padding: 0 2.5em;
  }
}
@media (min-width: 80em) {
  /* line 97, ../scss/base/_header.scss */
  .site-name {
    font-size: 18px;
  }
}
/*******************************************************************************
 * Region Navigation
 ******************************************************************************/
/* line 6, ../scss/base/_navigation.scss */
#nav-opener {
  position: absolute;
  right: 40px;
  top: 175px;
  z-index: 4;
  width: auto;
  height: 40px;
  margin: -20px 0 0;
  cursor: pointer;
}
/* line 16, ../scss/base/_navigation.scss */
#nav-opener:focus {
  outline-offset: 0;
}
/* line 21, ../scss/base/_navigation.scss */
#nav-opener.is-active #main-menu-toggle {
  color: #fff;
  background: #2F80ED;
}
/* line 27, ../scss/base/_navigation.scss */
#nav-opener .label {
  white-space: nowrap;
}
/* line 30, ../scss/base/_navigation.scss */
#nav-opener .label .hide-mobile-label {
  display: none;
}

/* line 36, ../scss/base/_navigation.scss */
#main-menu-toggle {
  display: block;
  position: relative;
  background: #fff;
  color: #005eb8;
  border: 1px solid #fff;
  padding: 9px 12px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
/* line 47, ../scss/base/_navigation.scss */
#main-menu-toggle:hover, #main-menu-toggle:focus {
  box-shadow: 0 5px 30px 0 rgba(0, 127, 59, 0.25);
}
/* line 52, ../scss/base/_navigation.scss */
#main-menu-toggle .hambuger-bar {
  display: block;
  width: 1.3125em;
  margin: 3px auto 0;
  height: 3px;
  background: #212B32;
  opacity: 1;
  position: absolute;
  left: 9px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
/* line 65, ../scss/base/_navigation.scss */
#main-menu-toggle .hambuger-bar-1 {
  top: 8px;
  transform-origin: left center;
}
/* line 70, ../scss/base/_navigation.scss */
#main-menu-toggle .hambuger-bar-2 {
  top: 15px;
  transform-origin: left center;
}
/* line 75, ../scss/base/_navigation.scss */
#main-menu-toggle .hambuger-bar-3 {
  top: 22px;
  transform-origin: left center;
}

/* line 82, ../scss/base/_navigation.scss */
#nav-opener:focus #main-menu-toggle {
  box-shadow: 0 5px 30px 0 rgba(0, 127, 59, 0.25);
}

/* line 88, ../scss/base/_navigation.scss */
#main-menu-sidebar.open {
  display: block;
}
/* line 92, ../scss/base/_navigation.scss */
#main-menu-sidebar ul.menu {
  margin: 0;
  text-align: center;
}
/* line 96, ../scss/base/_navigation.scss */
#main-menu-sidebar ul.menu a {
  color: #212B32;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
/* line 101, ../scss/base/_navigation.scss */
#main-menu-sidebar ul.menu a:hover, #main-menu-sidebar ul.menu a:focus {
  border-bottom-color: #212B32;
  text-decoration: none;
}
/* line 109, ../scss/base/_navigation.scss */
#main-menu-sidebar ul.menu .menu-item--active-trail a {
  border-bottom-color: #212B32;
}
/* line 115, ../scss/base/_navigation.scss */
#main-menu-sidebar .header-main-menu {
  font-weight: bold;
}
/* line 119, ../scss/base/_navigation.scss */
#main-menu-sidebar li {
  padding: .75em 0;
  font-size: 1rem;
}
/* line 124, ../scss/base/_navigation.scss */
#main-menu-sidebar nav.navigation ul li {
  display: block;
}

/* line 129, ../scss/base/_navigation.scss */
#main-menu-overlay {
  display: none;
  background-color: #D5281B;
  opacity: 1;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 142, ../scss/base/_navigation.scss */
body.overlay-on {
  /* Scroll menu not body when menu displayed and user scrolls window */
  overflow: hidden;
}
/* line 147, ../scss/base/_navigation.scss */
.overlay-on #main-menu-sidebar {
  transform: none;
  opacity: 1;
  z-index: 3;
}
/* line 153, ../scss/base/_navigation.scss */
.overlay-on #main-menu-overlay {
  display: block;
}
/* line 158, ../scss/base/_navigation.scss */
.overlay-on #main-menu-toggle .hambuger-bar-1 {
  width: 27px;
  left: 11px;
  top: 7px;
  transform: rotate(45deg);
}
/* line 165, ../scss/base/_navigation.scss */
.overlay-on #main-menu-toggle .hambuger-bar-2 {
  width: 0;
  opacity: 0;
}
/* line 170, ../scss/base/_navigation.scss */
.overlay-on #main-menu-toggle .hambuger-bar-3 {
  top: 26px;
  left: 11px;
  width: 27px;
  transform: rotate(-45deg);
}
/* line 178, ../scss/base/_navigation.scss */
.overlay-on #block-bbd-classy-branding {
  position: relative;
  z-index: 1;
}
/* line 182, ../scss/base/_navigation.scss */
.overlay-on #block-bbd-classy-branding .site-name a {
  color: #fff;
}

/* line 188, ../scss/base/_navigation.scss */
ul.main-megamenu {
  margin: 0;
  text-align: right;
}
/* line 192, ../scss/base/_navigation.scss */
ul.main-megamenu li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
  font: 700 14px/16px "Frutiger LT W01_45 Ligh1475730", Arial, sans-serif;
}
/* line 198, ../scss/base/_navigation.scss */
ul.main-megamenu li a {
  color: #333;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
/* line 203, ../scss/base/_navigation.scss */
ul.main-megamenu li a:hover, ul.main-megamenu li a.is-active {
  border-bottom: 2px solid #333;
}

@media (max-width: 47.9375em) {
  /* line 213, ../scss/base/_navigation.scss */
  .region-header > #block-bbd-classy-main-menu {
    display: none;
  }

  /* line 217, ../scss/base/_navigation.scss */
  #main-menu-sidebar {
    overflow: auto;
    display: none;
    width: 100%;
    margin: 0;
    padding: 20px 20px 0 20px;
    height: auto;
    background: #fff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  }
  /* line 228, ../scss/base/_navigation.scss */
  #main-menu-sidebar #close-mobile-item {
    font-size: 18px;
    color: #2F80ED;
    position: relative;
    font-weight: bold;
    margin-bottom: 7px;
  }
  /* line 235, ../scss/base/_navigation.scss */
  #main-menu-sidebar #close-mobile-item .close-menu-btn {
    box-shadow: none;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    margin: 0;
    min-width: 1px;
    height: 12px;
    padding: 0;
    background: url(../../images/close-menu-icon.svg) no-repeat center center;
    background-size: 100%;
  }
  /* line 252, ../scss/base/_navigation.scss */
  #main-menu-sidebar ul.menu li {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    border-top: 1px solid #D8DDE0;
    background: url(../../images/mobile-arrow-right.svg) no-repeat right center;
    background-size: 24px;
  }
  /* line 261, ../scss/base/_navigation.scss */
  #main-menu-sidebar ul.menu li a {
    display: block;
    padding: 17px 0;
    font-size: 14px;
    font-weight: bold;
    color: #2F80ED;
    border: none;
  }
}
/* line 274, ../scss/base/_navigation.scss */
.need-help-menu {
  order: 3;
  width: 100%;
}
/* line 278, ../scss/base/_navigation.scss */
.need-help-menu ul {
  margin: 0 0 10px 0;
}
/* line 283, ../scss/base/_navigation.scss */
.need-help-menu .menu-item a {
  text-decoration: none;
  display: inline-block;
  background: #D5281B;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px 10px 10px 0;
  position: relative;
  top: -8px;
}
/* line 293, ../scss/base/_navigation.scss */
.need-help-menu .menu-item a.is-active {
  color: #fff;
}
/* line 297, ../scss/base/_navigation.scss */
.need-help-menu .menu-item a:hover {
  background: #e6493d;
}
/* line 300, ../scss/base/_navigation.scss */
.need-help-menu .menu-item a:hover:after {
  border-color: #e6493d transparent transparent transparent;
}
/* line 305, ../scss/base/_navigation.scss */
.need-help-menu .menu-item a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 0;
  border-color: #D5281B transparent transparent transparent;
}
@media (min-width: 48em) {
  /* line 274, ../scss/base/_navigation.scss */
  .need-help-menu {
    order: 4;
  }
}
@media (min-width: 64em) {
  /* line 274, ../scss/base/_navigation.scss */
  .need-help-menu {
    order: 3;
    flex: 1;
    padding-right: 30px;
    margin: 0;
  }
  /* line 330, ../scss/base/_navigation.scss */
  .need-help-menu ul {
    margin: 0;
    text-align: right;
  }
  /* line 336, ../scss/base/_navigation.scss */
  .need-help-menu .menu-item a {
    top: -5px;
  }
}

@media (min-width: 48em) {
  /* line 345, ../scss/base/_navigation.scss */
  ul.main-megamenu li {
    margin: 0 16px;
  }

  /* line 350, ../scss/base/_navigation.scss */
  #nav-opener,
  #main-menu-sidebar {
    display: none;
  }

  /* line 355, ../scss/base/_navigation.scss */
  #main-menu-sidebar {
    width: calc(100% - 180px);
  }
  /* line 359, ../scss/base/_navigation.scss */
  #main-menu-sidebar ul.menu a {
    color: #4C6272;
  }
  /* line 364, ../scss/base/_navigation.scss */
  #main-menu-sidebar nav.navigation ul li {
    display: inline-block;
    padding: 0 8px;
    font-size: 12px;
  }
  /* line 369, ../scss/base/_navigation.scss */
  #main-menu-sidebar nav.navigation ul li a {
    display: block;
    padding: 5px 0;
    color: #4C6272;
    border-bottom: 3px solid transparent;
  }
  /* line 375, ../scss/base/_navigation.scss */
  #main-menu-sidebar nav.navigation ul li a:hover, #main-menu-sidebar nav.navigation ul li a:focus {
    text-decoration: none;
    border-bottom-color: #D5281B;
  }
  /* line 383, ../scss/base/_navigation.scss */
  #main-menu-sidebar nav.navigation ul li.menu-item--active-trail a {
    text-decoration: none;
    border-bottom-color: #D5281B;
  }

  /* line 391, ../scss/base/_navigation.scss */
  #block-bbd-classy-main-menu {
    order: 5;
    overflow: inherit;
    height: auto;
    padding: 20px 0;
    position: relative;
    width: 100%;
  }
  /* line 399, ../scss/base/_navigation.scss */
  #block-bbd-classy-main-menu:before, #block-bbd-classy-main-menu:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    display: block;
  }
  /* line 409, ../scss/base/_navigation.scss */
  #block-bbd-classy-main-menu:before {
    top: 0;
  }
  /* line 413, ../scss/base/_navigation.scss */
  #block-bbd-classy-main-menu:after {
    bottom: 0;
  }
  /* line 417, ../scss/base/_navigation.scss */
  #block-bbd-classy-main-menu ul.main-megamenu {
    text-align: left;
  }
  /* line 420, ../scss/base/_navigation.scss */
  #block-bbd-classy-main-menu ul.main-megamenu li {
    margin: 0 10px 0 0;
    padding: 0;
  }
  /* line 424, ../scss/base/_navigation.scss */
  #block-bbd-classy-main-menu ul.main-megamenu li:last-child {
    margin-right: 0;
  }
  /* line 428, ../scss/base/_navigation.scss */
  #block-bbd-classy-main-menu ul.main-megamenu li a {
    color: #212B32;
    border: none;
    font-size: 13px;
    line-height: 19px;
    font-weight: normal;
  }
}
@media (min-width: 48em) and (max-width: 64em) {
  /* line 444, ../scss/base/_navigation.scss */
  #block-bbd-classy-main-menu ul.main-megamenu li a {
    letter-spacing: -0.3px;
  }
}
@media (min-width: 64em) {
  /* line 452, ../scss/base/_navigation.scss */
  #block-bbd-classy-main-menu {
    padding: 20px 0;
  }

  /* line 456, ../scss/base/_navigation.scss */
  ul.main-megamenu {
    display: flex;
    justify-content: space-between;
  }
  /* line 460, ../scss/base/_navigation.scss */
  ul.main-megamenu li {
    font-size: 18px;
  }

  /* line 465, ../scss/base/_navigation.scss */
  #main-menu-sidebar {
    width: calc(100% - 220px);
  }
  /* line 468, ../scss/base/_navigation.scss */
  #main-menu-sidebar nav.navigation ul li {
    font-size: 14px;
    font-weight: bold;
    padding: 0 8px;
  }
}
@media (min-width: 68.75em) {
  /* line 477, ../scss/base/_navigation.scss */
  #main-menu-sidebar {
    width: calc(100% - 275px);
  }
  /* line 480, ../scss/base/_navigation.scss */
  #main-menu-sidebar nav.navigation ul li {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
  }
}
@media (min-width: 90em) {
  /* line 491, ../scss/base/_navigation.scss */
  #block-bbd-classy-main-menu ul.main-megamenu li a {
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
  }
}
/* line 1, ../scss/base/_preloader.scss */
.ajax-progress-fullscreen,
.ajax-progress-fullscreen:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin-left: -4em;
  margin-top: .75em;
}

/* line 10, ../scss/base/_preloader.scss */
.ajax-progress-fullscreen {
  background: none;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 0.5em solid #007F3B;
  border-right: 0.5em solid #007F3B;
  border-bottom: 0.5em solid #007F3B;
  border-left: 0.5em solid #4C6272;
  transform: translateZ(0);
  -webkit-animation: load 1s infinite linear;
  animation: load .5s infinite linear;
}

@-webkit-keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 1, ../scss/components/_brand.scss */
#block-bbd-classy-branding {
  padding: 20px 0;
}
/* line 4, ../scss/components/_brand.scss */
#block-bbd-classy-branding .site-name {
  display: none;
}
/* line 8, ../scss/components/_brand.scss */
#block-bbd-classy-branding img {
  width: 80%;
  text-align: center;
}

/* line 1, ../scss/components/_footer.scss */
#footer-wrap {
  background: #72C6D9;
  clear: both;
  /* responsive */
}
/* line 5, ../scss/components/_footer.scss */
#footer-wrap .footer-holder,
#footer-wrap .footer-copyright {
  padding: 0 20px;
  max-width: 1140px;
  margin: 0 auto;
}
/* line 12, ../scss/components/_footer.scss */
#footer-wrap .region-footer nav#block-bottommenu {
  padding: 70px 0 50px 0;
  border-bottom: solid 1px #8597A3;
  margin-bottom: 20px;
}
/* line 17, ../scss/components/_footer.scss */
#footer-wrap .region-footer nav#block-bottommenu ul.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* line 20, ../scss/components/_footer.scss */
#footer-wrap .region-footer nav#block-bottommenu ul.menu li.menu-item--expanded {
  width: 25%;
  box-sizing: border-box;
  margin-bottom: 30px;
}
/* line 25, ../scss/components/_footer.scss */
#footer-wrap .region-footer nav#block-bottommenu ul.menu li.menu-item--expanded a {
  color: #212B32;
  font-size: 18px;
  font-weight: bold;
}
/* line 34, ../scss/components/_footer.scss */
#footer-wrap .region-footer nav#block-bottommenu ul.level-1 {
  display: block;
}
/* line 37, ../scss/components/_footer.scss */
#footer-wrap .region-footer nav#block-bottommenu ul.level-1 li.menu-item {
  width: 100%;
  box-sizing: border-box;
}
/* line 41, ../scss/components/_footer.scss */
#footer-wrap .region-footer nav#block-bottommenu ul.level-1 li.menu-item a {
  font-size: 16px;
  font-weight: normal;
}
/* line 50, ../scss/components/_footer.scss */
#footer-wrap #block-socialmedialinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
/* line 54, ../scss/components/_footer.scss */
#footer-wrap #block-socialmedialinks h2 {
  font-size: 20px;
  margin-bottom: 0;
}
/* line 59, ../scss/components/_footer.scss */
#footer-wrap #block-socialmedialinks .social-media-links--platforms.horizontal {
  margin: 0;
  padding: 0;
}
/* line 63, ../scss/components/_footer.scss */
#footer-wrap #block-socialmedialinks .social-media-links--platforms.horizontal li {
  padding: 0 30px 0 0;
}
/* line 67, ../scss/components/_footer.scss */
#footer-wrap #block-socialmedialinks .social-media-links--platforms.horizontal li span.fa-2x {
  font-size: 35px;
}
/* line 73, ../scss/components/_footer.scss */
#footer-wrap #block-socialmedialinks a {
  color: #212B32;
}
/* line 78, ../scss/components/_footer.scss */
#footer-wrap .footer-copyright .region-copyright {
  display: flex;
  padding: 35px 0;
}
/* line 82, ../scss/components/_footer.scss */
#footer-wrap .footer-copyright .region-copyright #block-bbd-classy-footer {
  flex: 10;
  margin-bottom: 20px;
}
/* line 86, ../scss/components/_footer.scss */
#footer-wrap .footer-copyright .region-copyright #block-bbd-classy-footer h2.visually-hidden {
  display: none;
}
/* line 90, ../scss/components/_footer.scss */
#footer-wrap .footer-copyright .region-copyright #block-bbd-classy-footer ul {
  display: flex;
  width: 60%;
  margin: 0;
}
/* line 96, ../scss/components/_footer.scss */
#footer-wrap .footer-copyright .region-copyright #block-bbd-classy-footer ul li {
  flex: 1;
  display: inline-block;
  padding: 0;
}
/* line 101, ../scss/components/_footer.scss */
#footer-wrap .footer-copyright .region-copyright #block-bbd-classy-footer ul li a {
  font-size: 13px;
  color: #212B32;
  text-decoration: none;
  font-weight: 700;
}
/* line 111, ../scss/components/_footer.scss */
#footer-wrap .footer-copyright .region-copyright #block-copyright {
  flex: 2;
  text-align: right;
}
/* line 115, ../scss/components/_footer.scss */
#footer-wrap .footer-copyright .region-copyright #block-copyright p {
  font-size: 13px;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 767px) {
  /* line 127, ../scss/components/_footer.scss */
  #footer-wrap .region-footer nav#block-bottommenu {
    padding: 70px 0 50px 0;
  }
  /* line 132, ../scss/components/_footer.scss */
  #footer-wrap .region-footer nav#block-bottommenu ul.menu li.menu-item--expanded {
    width: 50%;
  }
  /* line 135, ../scss/components/_footer.scss */
  #footer-wrap .region-footer nav#block-bottommenu ul.menu li.menu-item--expanded a {
    color: #212B32;
    font-size: 18px;
    font-weight: bold;
  }
  /* line 144, ../scss/components/_footer.scss */
  #footer-wrap .region-footer nav#block-bottommenu ul.level-1 {
    display: flex;
    margin-right: 20px;
    box-sizing: border-box;
  }
  /* line 149, ../scss/components/_footer.scss */
  #footer-wrap .region-footer nav#block-bottommenu ul.level-1 li.menu-item {
    width: 50%;
    box-sizing: border-box;
  }
  /* line 153, ../scss/components/_footer.scss */
  #footer-wrap .region-footer nav#block-bottommenu ul.level-1 li.menu-item a {
    font-size: 16px;
    font-weight: normal;
  }
  /* line 162, ../scss/components/_footer.scss */
  #footer-wrap #block-socialmedialinks {
    width: 40%;
  }
  /* line 166, ../scss/components/_footer.scss */
  #footer-wrap .footer-copyright .region-copyright {
    display: block;
    padding-top: 10px;
  }
  /* line 170, ../scss/components/_footer.scss */
  #footer-wrap .footer-copyright .region-copyright #block-copyright {
    text-align: left;
  }
}

/* line 1, ../scss/components/_header.scss */
header.outer-wrapper {
  background: #72C6D9;
  clear: both;
}
/* line 5, ../scss/components/_header.scss */
header.outer-wrapper .region-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1140px;
  margin: 0 auto;
}
/* line 11, ../scss/components/_header.scss */
header.outer-wrapper .region-header #block-bbd-classy-main-menu {
  order: 3;
  width: 100%;
  border-top: 2px solid rgba(255, 255, 255, 0.25);
}

@media (max-width: 906px) {
  /* line 21, ../scss/components/_header.scss */
  #block-bbd-classy-branding {
    width: 200px;
  }
}
/* line 1, ../scss/components/_menu.scss */
ul.main-megamenu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 98px;
  text-align: center;
}

@media (min-width: 64em) {
  /* line 10, ../scss/components/_menu.scss */
  #block-bbd-classy-main-menu {
    padding: 20px 0;
  }
}
/* mobile */
@media (max-width: 48em) {
  /* line 19, ../scss/components/_menu.scss */
  ul.main-megamenu {
    display: block;
    justify-content: unset;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  /* line 27, ../scss/components/_menu.scss */
  #main-menu-sidebar {
    overflow: auto;
    display: none;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 20px 0 20px;
    height: auto;
    background: #fff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  }
  /* line 39, ../scss/components/_menu.scss */
  #main-menu-sidebar ul.menu li {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    border-top: 1px solid #D8DDE0;
    background: url(../../images/mobile-arrow-right.svg) no-repeat right center;
    background-size: 24px;
  }
  /* line 48, ../scss/components/_menu.scss */
  #main-menu-sidebar ul.menu li a {
    display: block;
    padding: 17px 0;
    font-size: 14px;
    font-weight: 700;
    color: #212B32;
    border: none;
  }
}
/* line 1, ../scss/components/_page-wrapper.scss */
#page-wrapper {
  padding: 0;
  margin: 0;
}
/* line 5, ../scss/components/_page-wrapper.scss */
#page-wrapper > * {
  margin: 0;
  padding: 0 1.25em;
}

@media (min-width: 90em) {
  /* line 12, ../scss/components/_page-wrapper.scss */
  #page-wrapper {
    padding: 0;
  }
  /* line 15, ../scss/components/_page-wrapper.scss */
  #page-wrapper > * {
    padding: 0 3.125em;
  }
}
@media (min-width: 64em) {
  /* line 22, ../scss/components/_page-wrapper.scss */
  #page-wrapper {
    padding: 0;
  }
  /* line 25, ../scss/components/_page-wrapper.scss */
  #page-wrapper > * {
    padding: 0 2.5em;
  }
}
@media (min-width: 48em) {
  /* line 32, ../scss/components/_page-wrapper.scss */
  #page-wrapper {
    padding: 0;
  }
  /* line 35, ../scss/components/_page-wrapper.scss */
  #page-wrapper > * {
    padding: 0 1.875em;
  }
}
/* line 1, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block {
  width: 35%;
  padding: 0 0 20px 0;
  height: 45px;
  margin: 0;
  z-index: 1;
}
/* line 8, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block form {
  max-width: 43em;
  margin: 0;
}
/* line 12, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block form .form--inline {
  position: relative;
}
/* line 15, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block form .form--inline .form-item {
  float: left;
  margin-right: 0;
}
/* line 20, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block form .form--inline input[type="text"] {
  height: 40px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  color: #8597A3;
  line-height: normal;
}
/* line 30, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block form .form--inline .form-actions {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}
/* line 35, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block form .form--inline .form-actions.form-wrapper:not(:empty) {
  position: relative;
  text-align: center;
  margin: 0;
}
/* line 45, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block .form--inline .form-actions {
  padding: 0;
  clear: none;
  position: relative;
}
/* line 51, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block .form-item,
.block-class-views-sitesearch-exposedform-block .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 57, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block .form-type-textfield {
  display: block;
  width: 100%;
}
/* line 62, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block .visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
/* line 71, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block input:not([type="radio"], [type="checkbox"], [type="date"], [type="time"], [type="submit"]) {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  border: 1px solid #D8DDE0;
  border-radius: 5px;
}
/* line 80, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block label::after,
.block-class-views-sitesearch-exposedform-block .form-submit {
  cursor: pointer;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
  font-size: 0;
  background: #F4ECC9 url("../../images/icon-search.svg") no-repeat center center;
  background-size: 50%;
  width: 40px;
  height: 40px;
  margin: 0;
  min-width: inherit;
  text-indent: -9999px;
  padding: 9px 13px;
  z-index: 2;
}
/* line 103, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block .form-submit:hover, .block-class-views-sitesearch-exposedform-block .form-submit:focus,
.block-class-views-sitesearch-exposedform-block .button:hover,
.block-class-views-sitesearch-exposedform-block .button:focus {
  box-shadow: none;
}
/* line 109, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block input[type="search"],
.block-class-views-sitesearch-exposedform-block input[type="text"],
.block-class-views-sitesearch-exposedform-block .form-actions {
  display: block;
}
/* line 116, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block label::after {
  content: inherit;
}
/* line 122, ../scss/components/_search-form.scss */
.block-class-views-sitesearch-exposedform-block .path-search #page {
  max-width: 40em;
}

@media (min-width: 64em) {
  /* line 132, ../scss/components/_search-form.scss */
  #views-exposed-form-site-search-page-1 label::after,
  #views-exposed-form-site-search-page-1 .form-submit {
    max-width: 100%;
  }
}
/* line 141, ../scss/components/_search-form.scss */
#views-exposed-form-site-search-page-1 label::after,
#views-exposed-form-site-search-page-1 .form-submit {
  background-size: 15px;
}

@media (max-width: 48em) {
  /* line 149, ../scss/components/_search-form.scss */
  .block-class-views-sitesearch-exposedform-block {
    order: 3;
    margin: 20px 0;
  }

  /* line 154, ../scss/components/_search-form.scss */
  .block-class-views-sitesearch-exposedform-block {
    width: 83%;
  }
}
/* line 1, ../scss/components/_top-cta-bar.scss */
#block-top-cta-bar {
  position: relative;
  top: 0;
  overflow: hidden;
  z-index: 1;
  padding: 15px 0;
  background: #D0EEF6;
  margin-left: -40px;
  width: calc(100% + 28px * 2);
}
@media (min-width: 768px) {
  /* line 1, ../scss/components/_top-cta-bar.scss */
  #block-top-cta-bar {
    width: calc(100% + 32px * 2);
  }
}
@media (min-width: 1024px) {
  /* line 1, ../scss/components/_top-cta-bar.scss */
  #block-top-cta-bar {
    width: calc(100% + 37px * 2);
  }
}

/* line 21, ../scss/components/_top-cta-bar.scss */
#block-top-cta-bar p {
  margin: 0;
  padding: 0;
}
